<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="flex flex-col items-center justify-center h-auto  rounded-sm bg-gray-50 dark:bg-gray-800">
      <div class="px-4 py-5 sm:px-6 w-full">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Collections
        </h3>
        <div class="flex justify-end">
         <button routerLink="create" class="block text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-gree-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
           collection request
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
